##################################
# Sistema Operacional / Editor
##################################
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.tmp
.idea/
.vscode/

##################################
# Kubernetes
##################################
*.orig
*.old
*.backup

##################################
# Credenciais (NÃO devem existir aqui)
##################################
*.env
.env
.env.*
*.secret
*.key
*.pem
*.crt

##################################
# Logs / Artefatos
##################################
logs/
*.log

##################################
# Arquivos temporários
##################################
tmp/
